@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import 'tailwindcss';

:root {
  --color-grey-950: hsl(200, 15%, 8%);
  --color-grey-400: hsl(0, 0%, 50%);
  --color-grey-350: hsl(0, 0%, 59%);
  --color-grey-300: hsl(0, 0%, 70%);
  --color-grey-250: hsl(0, 0%, 77%);
  --color-grey-50: hsl(0, 0%, 99%);
  --color-blue-950: hsl(207, 26%, 17%);
  --color-blue-900: hsl(209, 23%, 22%);

  --background: var(--color-grey-50);
  --foreground: var(--color-blue-950);
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-blue-950);
    --foreground: var(--color-grey-50);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Nunito Sans', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'wdth' 100, 'YTLC' 500;
}
